<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #acace6  ;">
    <a class="navbar-brand" >ShopAddict</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " (click)="redirectToHome()" >home</a>
        <a class="nav-item nav-link" (click)="redirectToCart()">cart</a>
        <a class="nav-item nav-link"  (click)="redirectToCategory()">categories </a>
        <a class="nav-item nav-link" (click)="redirectToSigngup()">account</a>
      </div>


    </div>

  </nav>
